/LocalAccountsApp-master.zip
/AuthApp/.vs/
/AuthApp/packages/
/AuthApp/AuthApp/bin/
/AuthApp/AuthApp/obj/
/LocalAccountsApp-master/.git*
/LocalAccountsApp-master/.vs/
/LocalAccountsApp-master/packages/
/LocalAccountsApp-master/LocalAccountsApp/bin/
/LocalAccountsApp-master/LocalAccountsApp/obj/
/SimpleAuth/.vs/
/SimpleAuth/packages/
/SimpleAuth/SimpleAuth/bin/
/SimpleAuth/SimpleAuth/obj/
/WebAPI/WebApiClientSide/.vs/
/WebAPI/WebApiClientSide/packages/
/WebAPI/WebApiClientSide/WebApiClientSide/bin/
/WebAPI/WebApiClientSide/WebApiClientSide/obj/
