<html>
<head>
    <title>Contact page</title>

    <script src="~/Scripts/jquery-3.3.1.js" type="text/javascript"></script>

    <script type="text/javascript">
        //function another() {
        //    name = $("#txtFirstname").val();
        //    alert(name);
        //}

        $(document).ready(function () {
            $("#btn").click(function () {
                var name = document.getElementById("txtFirstname");
                alert(name.value);

                name = $("#txtFirstname").val();
                alert(name);
            });
        })
    </script>
</head>
<body>
    <form>
        <hr />
        <div>
            <label>Firstname:</label>
            <input type="text" id="txtFirstname" name="txtFirstName" />
            <input type="button" id="btn" value="Click Me"  />
        </div>
    </form>
</body>
</html>
